* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #fff;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

a,
a.active,
a:hover,
a:focus {
  outline: 0px !important;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #fac34d;
}

.search-div {
  padding: 0;
  position: relative;
  width: 100%;
  background: #f5f5f5;
  top: -11px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.search-div.open {
  margin-top: 39px;
  padding: 13px;
  opacity: 1;
  visibility: visible;
  right: 0px;
  font-size: 18px;
  font-family: Poppins-Regular;
}
.search-div > input {
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 12px;
}
.search-div > input:focus {
  outline: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins-ExtraBold;
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins-Light;
  src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: Rockness;
  src: url(../fonts/Rockness.otf);
}

body,
html {
  font-family: "capitals-regular";
  /* overflow-x: hidden; */
  width: 100%;
}
/* 
.container-fluid{
  padding-left: 0;
  padding-right: 0;
} */

#top-bar {
  background-color: #2b5284;
}
.time-offer {
  display: flex;
  justify-content: center;
  padding: 1px 0px;
  font-family: Poppins-Regular;
  background-color: #2b5284;
  text-transform: uppercase;
  margin: 0;
}
.time-offer p {
  font-size: 28px;
  color: #fff;
  letter-spacing: 1px;
  /* padding: 13px 0; */
}

.time-offer span a {
  color: #fac34d;
  font-size: 22px;
  border-bottom: 1px solid #fac34d;
  /* text-decoration: underline; */
  margin-left: 22px;
  letter-spacing: 1px;
  line-height: 39px;
}
.time-offer span a:hover {
  color: #fac34d;
}
/* .everything-need{
  height: 800px;
} */
.flex-box {
  display: flex;
  padding: 35px 0 0;
}
header {
  background: #fff;
  height: 121px;
}
.toggle-btn span {
  display: none;
}
.nav {
  flex-grow: 1;
  background: #fff;
  padding-top: 9px;
}
.nav .nav-ul {
  display: flex;
}
.navbar-text-icons {
  min-width: 483px;
  background: #f5f5f5;
}
.nav-link {
  padding-right: 48px !important;
  padding: 0;
  color: #5f6467;
}
.dropdown-toggle {
  color: #5f6467;
}
.brand-logo {
  color: #373d41;
  padding-left: 75px;
  padding-right: 40px;
  margin-right: 0;
}
.brand-logo img {
  width: 255px;
}
.nav-item {
  padding-right: 37px;
}

.nav-ul {
  color: #373d41 !important;
  font-size: 26px;
  font-family: Poppins-Medium;
}

.nav-ul li a span {
  font-size: 18px;
  color: #373d41;
  padding: 2px 12px;
  background: #fac34d;
  font-weight: bold;
  color: #fff;
  margin-left: 4px;
}
.toggle {
  display: none;
}
.navbar-text-icons ul {
  display: flex;
}
.navbar-text-icons ul li {
  padding-right: 30px;
}
.navbar-text-icons ul li a {
  font-family: Poppins-Medium;
  font-size: 17px;
  color: #373d41;
  line-height: 35px;
  text-transform: capitalize;
  transition: 0.5s;
}
.navbar-text-icons ul li a:hover,
.dropdown-toggle:hover {
  color: #fac34d;
}
.dropdown-toggle {
  transition: 0.5s;
}
.everything-need img {
  width: 100%;
}
.navbar-text-icons {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-top: 5px;
}

#search,
.price {
  font-size: 34px;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
}
a #search i:hover,
.price span:hover {
  color: #fff;
  background: #fac34d;
}
.price span {
  transition: 0.5s;
  background: #1e88d1;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  padding: 9px 8px;
  line-height: 6px;
  color: #fff;
  position: absolute;
  top: 79px;
  margin-left: -12px;
  /* margin-bottom: -33px; */
}
.dropdown-item {
  color: #373d41 !important;
  font-size: 26px;
  font-family: Poppins-Medium;
  padding: 3px 8px;
  transition: 0.5s;
}
a.dropdown-item:hover {
  color: #fac34d !important;
}

.dropdown-menu {
  padding: 20px 8px;
  margin-top: 43px;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.wrapper-lens {
  /* position: absolute;
  text-align: center;
  top: 57%;
  width: 55%; */

  position: absolute;
  text-align: center;
  width: 100%;
  max-width: 1048px;
  margin: auto auto;
  top: 17px;
  /* top: 0; */
  bottom: 0;
  right: 0;
  left: 0;
  height: 0px;
  /* width: 55%; */
}

.wrapper-lens h1 {
  font-family: Poppins-Medium;
  font-size: 45.83px;
  color: #2b5284;
  line-height: 75px;
  padding-bottom: 2px;
}
.wrapper-lens p {
  font-family: Poppins-Regular;
  font-size: 28.34px;
  line-height: 48px;
  padding-bottom: 40px;
}
.neverything-need-button {
  display: flex;
  justify-content: center;
  z-index: 111;
}
.neverything-need-button a .button {
  background: #069cef;
  font-size: 30.73px;
  color: #fff;
  font-family: Poppins-SemiBold;
  text-align: center;
  width: 350px;
  line-height: 84px;
  height: 87px;
  transition: 0.5s;
}
.neverything-need-button a .button:hover {
  background: #fac34d;
}
.neverything-need-button a .button span {
  padding-right: 1px;
}
.neverything-need-button a .button img {
  width: 40px;
}
.neverything-need-button a:first-child {
  margin-right: 45px;
}
.ordering-warpper-img {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  left: 103px;
  padding-top: 0px;
  /* top: 288px; */
  z-index: 222;
  margin-top: -24px;
}
.ordering-warpper-img img {
  width: 258px;
}
.shop-eyewear :nth-child(2) {
  display: none;
}
.everything-need {
  background: url(../images/LensDirect-New-HP-FINAL_.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-size: 100% 100%;
  width: 100%;
  height: 799px;
}
.ordering-warpper-img-mob {
  display: none;
}
/* top bar */
.mob-top-bar {
  display: none;
}

.all-brands .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.all-brands {
  padding-bottom: 60px;
  background-color: #fff;
}
.all-brand img {
  width: 100%;
}
.feature {
  background: #23518c;
  text-align: center;
  padding: 28px 0;
}
.feature span {
  font-size: 30px;
  font-family: Poppins-Medium;
  color: #fff;
  text-transform: uppercase;
}
/* contact lenses */
.contact-eyewear {
  padding-bottom: 60px;
  background: #fff;
}
.contact-lense {
  background: url(../images/contactlenses.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-size: 100% 100%;
  height: 637px;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 120px 0px 103px;
}
.contact-heading h1,
.eyewear-lense .eyewear-heading h1 {
  font-size: 55px;
  color: #373d41;
  font-family: Poppins-Medium;
  line-height: 77px;
}
.contact-heading p,
.eyewear-lense .eyewear-heading p {
  color: #373d41;
  font-size: 30px;
  padding-top: 30px;
  font-family: Poppins-Regular;
}
.contact-heading {
  width: 55%;
  text-align: center;
}
.eyewear-lense {
  background: url(../images/eyewear.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-size: 100% 100%;
  padding: 120px 0px 102px;
  position: relative;
  align-items: center;
  display: flex;
  height: 637px;
  margin-left: 15px;
}
.eyewear-heading {
  text-align: center;
  width: 63%;
}
.eyewear-lense .eyewear-heading .shop-eyewear,
.contact-lense .contact-heading .shop-eyewear {
  color: #202020;
  font-size: 30px;
  line-height: 70px;
  border: 1px solid #202020;
  /* padding: 22px 59px 14px; */
  width: 290px;
  /* height: 70px; */
  font-family: Poppins-SemiBold;
  transition: 0.5s;
  text-align: center;
  margin-top: 117px !important;
  margin: 0 auto;
  transition: 0.5s;
}
.eyewear-lense .eyewear-heading .shop-eyewear a,
.contact-lense .contact-heading .shop-eyewear a {
  color: #202020;
  transition: 0.5s;
}
.eyewear-lense .eyewear-heading .shop-eyewear a:hover,
.contact-lense .contact-heading .shop-eyewear a:hover {
  color: #fff;
}
.eyewear-lense .eyewear-heading .shop-eyewear:hover,
.contact-lense .contact-heading .shop-eyewear:hover {
  background-color: #cccccc;
  border-color: #cccccc;
}
.contact-lense .contact-heading .line-contact {
  width: 448px;
  height: 1px;
  display: inline-block;
  background-color: #373d41;
}
.eyewear-lense .eyewear-heading .line-contact {
  width: 270px;
  height: 1px;
  display: inline-block;
  background-color: #373d41;
}
.eyewear-lense .eyewear-heading h3 {
  color: #000000;
  font-size: 30px;
  /* line-height: 62px; */
  padding-bottom: 10px;
  font-family: Poppins-Medium;
}
.contact-leanses img,
.eyewear img {
  width: 357px;
}
.glasses-inner {
  background: url(../images/heres.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-size: 100% 100%;
  /* height: 643px; */
  position: relative;
}
.delancy-street-eye {
  background: url(../images/delancy-eyewear.png) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-size: 100% 100%;
  /* height: 643px; */
  position: relative;
}
.street-eye-mob,
.blu-light-mobile,
.autoRefill-mob,
.glasses-img {
  display: none;
}

.autoRefill {
  background: url(../images/air-optix.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-size: 100% 100%;
  /* height: 643px; */
  position: relative;
}

.blu-light {
  background: url(../images/blu-light.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-size: 100% 100%;
  /* height: 643px; */
  position: relative;
}
.glasses-inner img {
  width: 100%;
}
.glasses-wrapper {
  width: 97%;
  /* margin: 0 auto; */
  text-align: center;
  display: flex;
  justify-content: flex-end;
  /* height: 643px; */
  align-items: center;
  padding: 167px 0 165px;
}

.glasses-wrapper-inner h1 {
  font-size: 55px;
  color: #373d41;
  font-family: Poppins-Medium;
  line-height: 34px;
}
.divid-line {
  width: 260px;
  height: 1px;
  display: inline-block;
  background-color: #373d41;
  margin-top: 30px;
}
.dividers {
  width: 505px;
  height: 1px;
  display: inline-block;
  background-color: #373d41;
}
.glasses-wrapper-inner p {
  color: #373d41;
  font-size: 35px;
  padding-top: 30px;
  font-family: Poppins-Regular;
}
.glasses-wrapper-inner h3 {
  color: #000000;
  font-size: 38px;
  line-height: 62px;
  padding-bottom: 64px;
  font-family: Poppins-SemiBold;
}
.glasses-wrapper-inner a {
  color: #202020;
  font-size: 30px;
  line-height: 70px;
  border: 1px solid #202020;
  /* padding: 22px 59px 14px; */
  width: 290px;
  /* height: 70px; */
  font-family: Poppins-SemiBold;
  transition: 0.5s;
}
.glasses-wrapper-inner a:hover {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #fff;
}
.delancy-wrapper img {
  width: 336px;
}
.street-eyes {
  background: #f6f5f4;
  width: 100%;
}
.street img {
  width: 100%;
}

.delancy-street-eye .delancy-wrapper-inner h1 {
  font-size: 55px;
  color: #373d41;
  /* border-bottom: 1px solid #373d41 !important; */
  font-family: Poppins-Medium;
  line-height: 55px;
}
.delancy-wrapper-inner .divide {
  width: 702px;
  height: 1px;
  display: inline-block;
  background-color: #373d41;
}
.divide {
  width: 769px;
  height: 1px;
  display: inline-block;
  background-color: #373d41;
}
.delancy-street-eye .delancy-wrapper-inner p {
  color: #373d41;
  font-size: 35px;
  padding-top: 30px;
  padding-bottom: 55px;
  font-family: Poppins-Regular;
}
.delancy-street-eye .delancy-wrapper-inner a {
  color: #202020;
  font-size: 30px;
  line-height: 70px;
  border: 1px solid #202020;
  width: 290px;
  height: 70px;
  font-family: Poppins-SemiBold;
  transition: 0.5s;
}
.delancy-street-eye .delancy-wrapper-inner a:hover {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #fff;
}
.delancy-street-eye .delancy-wrapper-inner h3 {
  color: #000000;
  font-size: 38px;
  line-height: 65px;
  padding-bottom: 95px;
  font-family: Poppins-Regular;
}
.delancy-street-eye .delancy-wrapper-inner a:nth-child(1) {
  margin-right: 40px;
}
.blu-light-inner {
  text-align: center;
}
.blu-light-inner h1 {
  color: #fff;
  font-size: 55px;
  /* border-bottom: 1px solid #373d41 !important; */
  font-family: Poppins-Medium;
  line-height: 55px;
}
.blu-light-inner a {
  border: 1px solid #ffff;
  color: #fff;
  height: 80px;
  width: 350px;
  color: #fff;
  font-size: 30px;
  line-height: 75px;
  font-family: Poppins-SemiBold;
  transition: 0.5s;
}
.blu-light-inner a:hover {
  border-color: #cccccc;
  background-color: #cccccc;
}
.blu-light-inner p {
  padding-top: 37px;
  padding-bottom: 37px;
  color: #fff;
  font-family: Poppins-Regular !important;
  font-size: 30px;
}
.blu-light-inner span {
  font-size: 30px;
  font-family: Poppins-ExtraBold;
}
.blu-light-inner sup {
  top: -10px;
  font-size: 18px;
}
.blu-light-inner span {
  font-family: Poppins-ExtraBold;
}
.blu-light-inner img {
  padding-top: 30px;
  width: 318px;
}
.blu-light-wrapper {
  padding-top: 88px;
  padding-bottom: 33px;
}

.delancy-wrapper {
  width: 89%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  /* justify-content: flex-start; */
  /* height: 643px; */
  align-items: center;
  padding: 197px 0px;
}
.delancy-street-eye,
.glasses-inner,
.blu-light,
.autoRefill {
  margin-bottom: 60px;
}
.divider {
  width: 670px;
  height: 1px;
  display: inline-block;
  background-color: #fff;
}
.awesome {
  background-color: #e7f3fb;
  padding: 28px 0 15px;
  margin-bottom: 60px;
}
.why-awesome,
.we-awesome {
  text-align: center;
}
.divider-lines {
  width: 580px;
  height: 1px;
  display: inline-block;
  background-color: #3d3d3d;
}

.why-awesome h1 {
  font-size: 55px;
  color: #3d3d3d;
  font-family: Poppins-Regular;
  line-height: 40px;
}
.we-awesome {
  width: 100%;
}
.we-awesome h3 {
  font-size: 30px;
  color: #3d3d3d;
  font-family: Poppins-SemiBold;
  padding: 22px 95px 25px;
}
.we-awesome p {
  font-size: 25px;
  /* color: #0796f9; */
  color: #3d3d3d;
  font-family: Poppins-Regular;
  padding-bottom: 37px;
}
.committed {
  padding-top: 110px;
}
.committed img {
  width: 414px;
  padding-bottom: 26px;
}
.award img {
  width: 295px;
}
.award {
  padding-top: 30px;
}
.excellence {
  padding-top: 127px;
}
.excellence img {
  width: 491px;
  padding-bottom: 57px;
}

/* slider style */
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-button-next {
  padding-left: 3px;
  right: 90px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #dfeef9;
}
.lunchbox {
  position: relative;
}
@media (min-width: 37.5em) {
  .lunchbox {
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    /* make room for arrows */
    padding-left: 2em;
    padding-right: 2em;
  }
}

.swiper-wrapper {
  /* now pagination is below slides */
  margin-bottom: 3em;
  /* just enough width so slides handing off screen are partially 
  visible */
  width: 73.8%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.wrapper-swiper {
  width: 96% !important;
  margin: 0 auto;
}
.swiper-button-next {
  right: -12px;
  left: auto;
  outline: 0;
}
.swiper-button-prev {
  left: -12px;
  right: auto;
  outline: 0;
}
.swiper-slide {
  font-size: 18px;
  background: transparent;
}
.about-us {
  background: #aed4ef;
  padding: 27px 0px 65px;
  margin-bottom: 60px;
}
.about-us h1 {
  text-align: center;
  font-family: Poppins-Medium;
  font-size: 40px;
  color: #333333;
  padding-bottom: 32px;
}
.type-1,
.type-2,
.type-3,
.type-4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid #fff;
  padding: 13px;
  background: #fff;
  /* width: 25%; */
}

.type-1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.type-1 .rating h4,
.type-4 .rating h4 {
  font-size: 22px;
  color: #4b5054;
  font-family: Poppins-SemiBold;
}
.type-1 .rating,
.type-4 .rating {
  position: relative;
  padding: 35px 0px 30px;
}
.type-1 .rating img {
  width: 126px;
  height: 126px;
  border-radius: 50%;
  /* object-fit: cover; */
  /* background-size: 100% 100%; */
  object-fit: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  border: 3px solid #ffff;
}
.type-1 .rating span,
.type-4 .rating span {
  color: #0796f9;
  font-size: 20px;
  padding-bottom: 10px;
}
.type-1 .services h3,
.type-4 .services h3 {
  font-size: 25px;
  color: #000000;
  font-family: Poppins-SemiBold;
}
.type-1 .services p,
.type-4 .services p {
  font-size: 18.23px;
  color: #4b5054;
  font-family: Poppins-SemiBold;
}
.type-4 .services p {
  padding-bottom: 59px;
}
.type-4 .rating img {
  width: 141px;
  height: 141px;
  border-radius: 50%;
  /* object-fit: cover; */
  /* background-size: 100% 100%; */
  object-fit: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  border: 3px solid #ffff;
}
.type-2 .scott-img {
  /* width: 356px; */
  /* border: 1px solid #f2f2f2; */
  text-align: center;
}
.type-2 .scott-img img {
  /* width: 340px; */
  /* width: 100%; */
  border: 1px solid #f2f2f2;
}
/* .type-2 .circle-img{
  display:flex;
  justify-content: space-between;
} */
.type-2 .circle-img .Thomas-img,
.type-3 .circle-img .sonia-img {
  position: relative;
}
.type-3 .sonia img {
  width: 100%;
  border: 1px solid #000;
}
.type-2 .circle-img .Thomas-img img,
.type-3 .circle-img .sonia-img img {
  position: absolute;
  bottom: 0;
  left: 8px;
  /* float: left; */
  height: 122px;
  width: 122px;
}
.Thomas-img h3,
.type-3 .circle-img .sonia-img h3 {
  font-size: 20px;
  font-family: Poppins-SemiBold;
  color: #4b5054;
}
.Thomas-img a,
.type-3 .circle-img .sonia-img a {
  font-size: 16px;
  color: #4b5054;
  font-family: Poppins-Light;
}
.Thomas-img h3,
.Thomas-img a,
.type-3 .circle-img .sonia-img h3,
.type-3 .circle-img .sonia-img a {
  padding-left: 135px;
  margin: 0;
}
.type-2 .social-icon,
.type-3 .social-icon {
  position: absolute;
  bottom: 8px;
  right: 11px;
}
.type-2 .social-icon,
.type-3 .social-icon {
  color: #069cef;
  font-size: 38px;
}
/* online section */
.lenses-online {
  background: url(../images/online-lenses.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-size: 100% 100%;
  /* height: 643px; */
  position: relative;
}
.lenses-online .lenses-online-wrapper {
  /* width: 80%;
    margin: 0 auto;
    display: flex; */
  padding: 200px 0 123px;
}
.lenses-online .lenses-online-wrapper .lenses-online-wrapper-inner h1 {
  font-size: 45px;
  color: #373d41;
  /* border-bottom: 1px solid #373d41 !important; */
  font-family: Poppins-Medium;
  line-height: 55px;
  padding-bottom: 12px;
}
.lenses-online .lenses-online-wrapper .lenses-online-wrapper-inner p {
  font-size: 22px;
  color: #373d41;
  line-height: 40px;
  font-family: Poppins-Regular;
  padding-bottom: 30px;
}
.lenses-online .lenses-online-wrapper .lenses-online-wrapper-inner a {
  color: #1e88d1;
  font-size: 22px;
  line-height: 35px;
  font-family: Poppins-Bold;
  text-transform: uppercase;
  /* text-decoration: underline; */
  border-bottom: 1px solid #1e88d1;
  padding-top: 29px;
  transition: 0.5s;
}
.lenses-online .lenses-online-wrapper .lenses-online-wrapper-inner a:hover {
  color: #fac34d;
  border-bottom: 1px solid #fac34d;
}
.lenses-online-wrapper-inner a {
  padding-top: 29px;
}

.search-form {
  background-color: #1e88d1;
  padding: 30px 0;
}
.sign-up {
  display: flex;
  justify-content: flex-end;
}
.sign-up p {
  font-size: 26px;
  color: #fff;
  line-height: 72px;
  font-family: Poppins-Regular;
}
.form-inline {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-align: center;
  align-items: center;
  /* justify-content: center; */
}
form input {
  margin-right: -7px;
  /* padding: 11.7px 39px 13px 20px; */
  padding: 23px 68px 20px 26px;
  font-family: Poppins-Regular;
  color: #666565;
  border: none;
}
form button {
  /* padding: 14.73px 20px 16px; */
  padding: 23px 22px 20px 22px;
  font-size: 18px;
  line-height: 28px;
  background: #12537f;
  color: #fff;
  border: none;
  outline: 0;
  font-family: Poppins-Bold;
  text-transform: uppercase;
}

footer {
  position: relative;
  z-index: 11111111;
  background: #373d41;
}
footer .footer-start {
  padding-top: 121px;
  padding-bottom: 100px;
  /* text-align: center; */
  margin: 0 auto;
  padding-bottom: 100px;
  text-transform: uppercase;
}

footer .footer-start .learning h4 {
  font-size: 20px;
  color: #fff;
  font-family: Poppins-Bold;
  text-align: start;
}
footer .footer-start .learning ul li {
  display: block;
  padding-right: 15px;
  /* padding-top: 7px; */
  font-size: 20px;
  line-height: 40px;
  padding-bottom: 3px;
  color: #fff;
  font-family: Poppins-Light;
}
footer .footer-start ul {
  padding-top: 18px;
  margin: 0;
}
footer .footer-start .learning ul li,
footer .footer-start .learning ul li a {
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  font-family: Poppins-Light;
  transition: 0.5s;
}
footer .footer-start .learning ul li:hover,
footer .footer-start .learning ul li a:hover {
  color: #fac34d;
}
.learning:nth-child(4) {
  text-align: end;
}
.social-icons {
  display: flex;
  justify-content: flex-start !important;
  padding: 13px 0 0 0 !important;
}
.learning .social-icons li {
  padding: 0 30px 0 0px;
  margin-bottom: 53px;
}
.learning .social-icons li a {
  font-size: 23px !important;
  padding: 0 30px 0 0px;
}

.learning .social-icons li:nth-child(1) {
  padding: 0 !important;
}
.payment {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.payment li a img {
  width: 55px;
}
.material {
  margin: 0 auto;
  padding-bottom: 40px;
}
.material p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  font-family: Poppins-Regular;
}
.get {
  display: none;
}
/* sign-up-mob */
.sign-up-mob {
  display: none;
}
.all-brands-company {
  display: none;
}
.icons-social {
  display: none;
}
.about-us h1:nth-child(2) {
  display: none;
}
.logo-footer {
  display: none;
}

@media (max-width: 1887px) {
  /* header */
  .brand-logo {
    padding-left: 41px;
  }
  .navbar-text-icons {
    min-width: 449px;
  }
  .nav-link {
    padding-right: 35px !important;
    padding: 0;
  }
}
@media (max-width: 1785px) {
  .brand-logo {
    padding-left: 17px;
  }
  .nav-ul {
    font-size: 24px;
  }
  .brand-logo img {
    width: 230px;
  }
  .nav-ul li a span {
    font-size: 14px;
    padding: 2px 9px;
  }

  /* .ordering-warpper-img {
    margin-top: -38px;
  } */
  /* .ordering-warpper-img img {
  width: 194px;
} */
  .wrapper-lens {
    top: -80px;
  }
  /* awesome style */
  .we-awesome h3 {
    padding: 22px 40px 25px;
  }
  .contact-heading {
    width: 60%;
  }
  .navbar-text-icons {
    min-width: 413px;
  }
  .type-1 .rating img {
    width: 115px;
    height: 115px;
  }
  .lenses-online .lenses-online-wrapper {
    padding: 161px 0 105px;
}
.divide {
  width: 712px;

}

}
@media (max-width: 1639px) {

  .lenses-online .lenses-online-wrapper {
    padding: 144px 0 72px;
}

  .wrapper-lens p {
    padding-bottom: 27px;
  }
  .wrapper-lens h1 {
    font-size: 39.83px;
    line-height: 75px;
    padding-bottom: 2px;
  }

  /* .ordering-warpper-img {
    padding-left: 71px;
  } */
  .neverything-need-button a .button {
    font-size: 28.73px;
    text-align: center;
    width: 337px;
    line-height: 77px;
    height: 74px;
  }
  .wrapper-lens {
    top: 85px;
    max-width: 943px;
    /* top: 0; */
  }
  /* contact lenses */
  .contact-heading {
    width: 68%;
    text-align: center;
  }
  /* lens replacement style */
  .glasses-wrapper-inner p {
    font-size: 32px;
    padding-top: 25px;
  }

  .delancy-wrapper-inner {
    font-size: 32px;
    padding-top: 25px;
  }
  .delancy-street-eye .delancy-wrapper-inner p {
    padding-top: 19px;
    padding-bottom: 45px;
  }
  /* autorefill */
  .glasses-wrapper-inner h3 {
    color: #000000;
    font-size: 35px;
    line-height: 50px;
    padding-bottom: 64px;
  }
  /* blue */
  .blu-light-inner p {
    font-size: 32px;
    padding-top: 25px;
  }
  /* awesome */

  .we-awesome p {
    font-size: 23px;
  }
  .excellence img {
    width: 491px;
    padding-bottom: 86px;
  }

  /* sign up style */
  .sign-up p {
    font-size: 23px;
    color: #fff;
    line-height: 72px;
    font-family: Poppins-Regular;
  }
  .navbar-text-icons {
    min-width: 307px;
  }
  .brand-logo {
    padding-left: 0px;
  }
  /* slider */
  .type-4 .rating img {
    width: 120px;
    height: 120px;
    top: 0px;
    right: 0px;
  }
  .type-2 .social-icon,
  .type-3 .social-icon {
    font-size: 34px;
  }
  .type-4 .services p {
    padding-bottom: 24px;
  }
  .type-2 .social-icon,
  .type-3 .social-icon {
    position: absolute;
    bottom: 11px;
    right: 11px;
  }
  .type-1 .rating img {
    width: 110px;
    height: 110px;
  }
  .type-2 .scott-img img {
    /* width: 340px; */
    width: 100%;
    border: 1px solid #f2f2f2;
  }
  #search,
  .price {
    font-size: 29px;
  }
  .contact-lense,
  .eyewear-lense {
    height: 599px;
  }
  .ordering-warpper-img {
    left: 64px;
  }
  .divide {
    width: 660px;
}
}
@media (max-width: 1497px) {

  .divide {
    width: 579px;
}
.search-div.open {
  margin-top: 33px;
}
  /* slider */

  .type-1 .rating h4,
  .type-4 .rating h4 {
    font-size: 16px;
  }
  .type-1 .services h3,
  .type-4 .services h3 {
    font-size: 20px;
  }
  .type-1 .rating img {
    width: 93px;
    height: 93px;
  }

  .type-4 .rating img {
    width: 101px;
    height: 102px;
  }
  .type-2 .social-icon,
  .type-3 .social-icon {
    bottom: 17px;
  }
  .type-2 .social-icon,
  .type-3 .social-icon {
    font-size: 20px;
  }
  .Thomas-img h3,
  .type-3 .circle-img .sonia-img h3 {
    font-size: 16px;
    padding-left: 116px;
  }
  .Thomas-img h3,
  .Thomas-img a,
  .type-3 .circle-img .sonia-img h3,
  .type-3 .circle-img .sonia-img a {
    padding-left: 119px;
    margin: 0;
  }
  .Thomas-img a,
  .type-3 .circle-img .sonia-img a {
    font-size: 13px;
  }
  .type-1 .services p,
  .type-4 .services p {
    font-size: 16.23px;
  }
  .type-2 .circle-img .Thomas-img img,
  .type-3 .circle-img .sonia-img img {
    left: 3px;
    /* float: left; */
    width: 108px;
    height: 108px;
  }
  /* dropdown */
  .dropdown-menu {
    margin-top: 26px;
  }
  .dropdown-item {
    font-size: 20px;
  }
  /* navbar */
  .brand-logo {
    color: #373d41;
    padding-left: 0px;
    padding-right: 15px;
    margin-right: 0;
  }
  .nav-link {
    padding-right: 16px !important;
    padding: 0;
    transition: 0.5s;
  }
  .nav-link:hover {
    color: #fac34d;
  }
  .brand-logo img {
    width: 169px;
  }
  .nav-ul {
    font-size: 21px;
  }
  .nav {
    padding-top: 4px;
  }
  header {
    background: #fff;
    height: 101px;
  }
  .search-div > input {
    width: 100%;
    border: none;
    border-radius: 12px;
    padding: 10px 12px;
  }
  .nav-item {
    padding-right: 23px;
  }
  .navbar-text-icons {
    min-width: 253px;
  }
  .nav-ul li a span {
    font-size: 12px;
    padding: 1px 7px;
  }
  #search,
  .price {
    font-size: 20px;
  }
  .navbar-text-icons ul li {
    padding-right: 19px;
  }
  .navbar-light .navbar-brand {
    padding-left: 8px;
  }
  .navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 13px 0 27px;
  }
  .navbar-light .navbar-brand {
    padding-left: 5px;
  }
  .price span {
    border-radius: 50px;
    font-size: 12px;
    padding: 5px 5px;
    top: 76px;
  }
  /*top bar */
  .time-offer p {
    font-size: 22px;
  }
  .time-offer span a {
    font-size: 18px;
    line-height: 34px;
  }

  .wrapper-lens {
    top: 0px;
    max-width: 893px;
  }
  .ordering-warpper-img img {
    width: 195px;
  }

  /* contact lenses */
  .contact-heading h1,
  .eyewear-lense .eyewear-heading h1 {
    font-size: 45px;
    color: #373d41;
    font-family: Poppins-Medium;
    line-height: 59px;
  }
  .contact-lense .contact-heading .line-contact {
    width: 400px;
  }
  /* lens replacement */
  .glasses-wrapper {
    width: 99%;
  }
  .glasses-wrapper-inner p {
    font-size: 27px;
    padding-top: 25px;
  }
  .delancy-street-eye .delancy-wrapper-inner p {
    font-size: 27px;
    padding-top: 25px;
  }
  .delancy-wrapper {
    width: 95%;
  }
  .glasses-wrapper-inner h3 {
    font-size: 29px;
  }
  /* blue */
  .blu-light-inner h1 {
    font-size: 45px;
  }
  .blu-light-inner p {
    font-size: 27px;
  }
  .divider {
    width: 575px;
  }
  /* awesome  style*/
  .we-awesome h3 {
    padding: 22px 0px 25px;
  }

  .excellence {
    padding-top: 140px;
  }
  .excellence img {
    padding-bottom: 60px;
  }
  /* contact lenses online */
  .lenses-online .lenses-online-wrapper .lenses-online-wrapper-inner h1 {
    font-size: 38px;
    line-height: 40px;
  }
  .lenses-online .lenses-online-wrapper .lenses-online-wrapper-inner p {
    font-size: 20px;
    line-height: 35px;
  }
  .lenses-online .lenses-online-wrapper .lenses-online-wrapper-inner a {
    font-size: 20px;
    line-height: 35px;
    padding-top: 20px;
  }
  .lenses-online .lenses-online-wrapper {
    padding: 126px 0 20px;
}
  
  /* sign up style */
  .form-inline {
    justify-content: center;
  }
  .sign-up p {
    font-size: 18px;
  }
  /* footer */
  /* footer */
  footer .footer-start .learning h4 {
    font-size: 18px;
  }
  footer .footer-start .learning ul li,
  footer .footer-start .learning ul li a {
    font-size: 16px;
    line-height: 33px;
  }
  .contact-lense,
  .eyewear-lense {
    height: 562px;
  }
  .blu-light-inner img {
    padding-top: 22px;
    width: 259px;
  }
  .ordering-warpper-img {
    left: 50px;
  }
}

@media (max-width: 1199px) {
  /* search */
  .search-div > input {
    padding: 8px;
  }
  .search-div.open {
    padding: 11px;
  }
  /* slider */

  .type-4 .rating img {
    width: 92px;
    height: 92px;
  }

  .type-1 .rating span,
  .type-4 .rating span {
    font-size: 17px;
    padding-bottom: 10px;
  }
  .type-1 .rating img {
    width: 81px;
    height: 81px;
  }
  .Thomas-img h3,
  .Thomas-img a,
  .type-3 .circle-img .sonia-img h3,
  .type-3 .circle-img .sonia-img a {
    padding-left: 112px;
    margin: 0;
  }
  /* dropdown */
  .dropdown-item {
    font-size: 17px;
  }

  /* navbar */
  .brand-logo img {
    width: 142px;
  }
  #search,
  .price {
    font-size: 20px;
  }
  .navbar-text-icons ul li {
    padding-right: 18px;
  }
  .navbar-text-icons {
    min-width: 190px;
  }
  .navbar-brand img {
    width: 129px;
  }
  .navbar-light .navbar-brand {
    padding-left: 0px;
  }
  .navbar-light .navbar-brand {
    padding-right: 11px;
  }
  .navbar-expand-lg .navbar-nav {
    padding-top: 10px;
  }
  /* hero sec*/
  .wrapper-lens {
    top: -37px;
    max-width: 829px;
    /* max-width: 943px; */
    /* top: 0; */
  }

  .wrapper-lens h1 {
    font-size: 35.83px;
    line-height: 75px;
    padding-bottom: 2px;
  }
  .everything-need {
    height: 670px;
  }

  .wrapper-lens p {
    font-size: 24.34px;
  }

  .neverything-need-button a .button {
    font-size: 27.73px;
    width: 301px;
    line-height: 59px;
    height: 59px;
  }
  .ordering-warpper-img {
    left: 46px;
    padding-top: 4px;
  }
  /* contact lense */
  .contact-heading h1,
  .eyewear-lense .eyewear-heading h1 {
    font-size: 38px;
    line-height: 23px;
  }
  .contact-lense .contact-heading .line-contact {
    width: 327px;
  }
  .contact-heading p,
  .eyewear-lense .eyewear-heading p {
    font-size: 28px;
    padding-top: 17px;
  }
  .eyewear-lense .eyewear-heading .shop-eyewear,
  .contact-lense .contact-heading .shop-eyewear {
    font-size: 27px;
    line-height: 59px;
    width: 251px;
    margin-top: 40px !important;
    margin: 0 auto;
  }
  .contact-heading {
    width: 68%;
    text-align: center;
  }

  .contact-lense,
  .eyewear-lense {
    height: 512px;
  }
  .contact-eyewear {
    padding-bottom: 35px;
  }
  /* lens replacement */
  .delancy-street-eye,
  .glasses-inner,
  .blu-light,
  .autoRefill {
    margin-bottom: 35px;
  }
  .glasses-wrapper-inner p {
    font-size: 23px;
    padding-top: 25px;
  }
  .glasses-wrapper-inner h1 {
    font-size: 45px;
  }
  .dividers {
    width: 457px;
  }
  .glasses-wrapper-inner a {
    font-size: 27px;
    line-height: 59px;
    width: 251px;
  }
  .glasses-wrapper {
    padding: 142px 0 146px;
  }
  .delancy-street-eye .delancy-wrapper-inner h1 {
    font-size: 45px;
    line-height: 30px;
  }
  .delancy-street-eye .delancy-wrapper-inner p {
    font-size: 23px;
  }
  .delancy-wrapper {
    padding: 150px 0px;
  }
  .divide {
    width: 605px;
  }
  .delancy-street-eye .delancy-wrapper-inner a {
    font-size: 27px;
    width: 251px;
  }
  /* auto refill */
  .glasses-wrapper-inner h3 {
    font-size: 26px;
  }
  /* blue */
  .blu-light-inner h1 {
    font-size: 36px;
    line-height: 30px;
  }
  .blu-light-inner p {
    font-size: 23px;
  }
  .divider {
    width: 480px;
  }
  .blu-light-inner a {
    height: 74px;
    font-size: 27px;
    line-height: 74px;
    width: 300px;
  }
  .blu-light-inner img {
    padding-top: 11px;
    width: 211px;
  }
  /* awesome */
  .awesome {
    margin-bottom: 35px;
  }
  /* contact lenses online */
  .divide {
    width: 490px;
  }
  .lenses-online .lenses-online-wrapper .lenses-online-wrapper-inner p {
    font-size: 18px;
    line-height: 29px;
    padding-bottom: 16px;
  }
  .lenses-online .lenses-online-wrapper .lenses-online-wrapper-inner h1 {
    font-size: 32px;
    line-height: 32px;
  }
  /* sign up style */
  .sign-up p {
    font-size: 18px;
  }
  form input {
    padding: 17px 45px 17px 22px;
  }
  form button {
    padding: 15px 22px 15px 22px;
  }
  /* footer */
  footer .footer-start .learning h4 {
    font-size: 16px;
  }
  footer .footer-start .learning ul li,
  footer .footer-start .learning ul li a {
    font-size: 14px;
    line-height: 33px;
  }
  /* features style */
  .feature span {
    font-size: 23px;
  }
  .all-brands {
    padding-bottom: 35px;
  }
  /* slider */
  .about-us {
    margin-bottom: 30px;
  }
  /* replcaement */
  .delancy-wrapper-inner .divide {
    width: 575px;
  }
  .nav-ul {
    font-size: 16px;
  }
  .navbar-text-icons {
    padding-top: 0px;
  }
  .price span {
    border-radius: 50px;
    font-size: 12px;
    padding: 5px 5px;
    top: 72px;
  }
  header {
    background: #fff;
    height: 95px;
  }
}
@media (max-width: 991px) {
  .type-4 .rating img {
    width: 114px;
    height: 114px;
  }
  .flex-box {
    display: flex;
    /* display: none; */
  }
  /* sign up */
  .learning {
    padding-top: 16px;
  }
  .search-form {
    padding: 0px 0 24px;
  }
  .sign-up p {
    font-size: 17px;
  }
  .sign-up {
    display: flex;
    justify-content: center;
  }
  .lenses-online .lenses-online-wrapper {
    padding: 64px 0 20px;
}
  .divide {
    width: 360px;
  }
  .lenses-online .lenses-online-wrapper .lenses-online-wrapper-inner h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .lenses-online .lenses-online-wrapper .lenses-online-wrapper-inner p {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 7px;
}
  .lenses-online .lenses-online-wrapper .lenses-online-wrapper-inner a {
    font-size: 18px;
    line-height: 27px;
    padding-top: 20px;
  }
  /* awesome style */
  .we-awesome p {
    font-size: 20px;
  }
  .we-awesome h3 {
    font-size: 27px;
  }
  .why-awesome h1 {
    font-size: 43px;
  }
  .divider-lines {
    width: 463px;
  }
  /* hero section */
  .wrapper-lens {
    top: 10px;
    max-width: 535px /* max-width: 943px; */ /* top: 0; */;
  }
  .everything-need {
    height: 489px;
  }
  .wrapper-lens h1 {
    font-size: 28.83px;
    line-height: 36px;
  }
  .wrapper-lens p {
    font-size: 16.34px;
    line-height: 28px;
  }
  .neverything-need-button a .button {
    font-size: 18.73px;
    width: 250px;
    line-height: 55px;
    height: 57px;
    /* padding: 24px 0; */
  }
  .neverything-need-button a .button img {
    width: 29px;
  }
  .ordering-warpper-img img {
    width: 160px;
    height: 101px;
  }
  .ordering-warpper-img {
    left: -32px;
  }

  /* top bar */
  .time-offer p {
    font-size: 18px;
    /* padding: 13px 0; */
  }
  .time-offer span a {
    font-size: 16px;
    line-height: 28px;
  }
  .time-offer span a {
    margin-left: 12px;
  }
  /* features style */
  .feature span {
    font-size: 18px;
  }
  .feature {
    padding: 13px 0;
  }
  /* contact lenses */
  .contact-heading {
    width: 57%;
  }
  /* .contact-lense {
    height: 538px;
} */
  .eyewear-lense {
    margin-left: 0px;
  }
  /* lens replacement */
  .dividers {
    width: 382px;
  }
  .glasses-wrapper-inner h1 {
    font-size: 39px;
    line-height: 23px;
  }
  .glasses-wrapper-inner p {
    font-size: 19px;
    padding-top: 23px;
  }
  .glasses-wrapper {
    padding: 115px 0 127px;
  }
  .delancy-street-eye .delancy-wrapper-inner h1 {
    font-size: 37px;
    line-height: 15px;
  }
  .delancy-wrapper-inner .divide {
    width: 474px;
  }
  .delancy-wrapper-inner .divide {
    width: 508px;
  }
  .delancy-wrapper {
    width: 100%;
  }
  .delancy-street-eye .delancy-wrapper-inner p {
    font-size: 19px;
  }
  .glasses-wrapper-inner h3 {
    font-size: 20px;
  }
  /* autofill */
  .divid-line {
    width: 210px;
    height: 1px;
    display: inline-block;
    background-color: #373d41;
    margin-top: 15px;
  }
  /* blue */
  .blu-light-inner h1 {
    font-size: 27px;
  }
  .divider {
    width: 320px;
  }
  .blu-light-inner span {
    font-size: 25px;
  }
  .blu-light-inner sup {
    font-size: 14px;
  }
  .blu-light-inner p {
    font-size: 18px;
  }
  .blu-light-wrapper {
    padding-top: 44px;
    padding-bottom: 15px;
  }

  .navbar-text-icons ul li:nth-child(4) {
    padding-right: 10px !important;
  }
  .navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 0;
  }
  .navbar-light .navbar-toggler {
    background: white;
  }
  .brand-logo {
    padding-left: 110px;
    margin-right: 0;
  }
  .navbar-toggler {
    line-height: 1;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .toggle span {
    font-size: 30px;
  }
  .flex-box {
    /* padding: 34px 0 0; */
    display: flex;
    justify-content: space-between;
  }
  .brand-logo img {
    width: 161px;
  }
  .price span {
    border-radius: 50px;
    font-size: 11px;
    padding: 5px 5px;
    top: 65px;
  }
  .nav {
    display: none;
  }
  .custom-collapse {
    display: block;
    min-width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    min-height: 100vh;
    z-index: 999;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
  }
  .custom-collapse.show {
    opacity: 1;
    visibility: visible;
  }
  .custom-collapse.closed {
    opacity: 0;
    visibility: hidden;
  }
  .custom-collapse ul.navbar-nav {
    width: 267px;
    position: fixed !important;
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    background: #fff;
    padding: 20px 16px;
    transform: translateX(-100%);
    transition: all 0.2s ease-in-out;
  }
  .custom-collapse ul.navbar-nav li a {
    padding: 4px 10px !important;
  }
  .custom-collapse.show ul.navbar-nav {
    transform: translateX(0);
  }
  .custom-collapse.closed ul.navbar-nav {
    transform: translateX(-100%);
  }
  .close-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: transparent;
  }
  .custom-collapse ul.navbar-nav li a {
    padding: 11px 10px !important;
    font-size: 18px;
    font-family: Poppins-Regular;
    color: #5f6467 !important;
  }
  .nav-link span {
    font-size: 11px;
    color: #373d41;
    padding: 2px 6px;
    background: #fac34d;
    font-weight: bold;
    color: #fff;
    margin-left: 4px;
  }
  .toggle {
    display: block;
  }
  .type-1 .rating img {
    width: 110px;
    height: 110px;
  }
}
@media (max-width: 767px) {
  /* slider */
  .swiper-button-next {
    right: 56px;
    left: auto;
    outline: 0;
  }
  .swiper-button-prev {
    left: 56px;
    right: auto;
    outline: 0;
  }
  .type-2 .scott-img img {
    width: 100%;
  }
  .type-2 .social-icon,
  .type-3 .social-icon {
    position: absolute;
    bottom: 11px;
    right: 166px;
  }
  .type-1,
  .type-2,
  .type-3,
  .type-4 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: 1px solid #fff;
    padding: 13px;
    background: #fff;
    width: 64%;
    margin: 0 auto;
  }
  .divide {
    display: none;
  }
  .lenses-online {
    background-image: none;
    background-color: #d9d5d8;
  }
  .ordering-warpper-img {
    left: -64px;
  }
  .ordering-warpper-img img {
    width: 90px;
    height: 83px;
  }
  /* .ordering-warpper-img{
    display: none;
  } */
  .wrapper-lens {
    /* top: -165px; */
    max-width: 507px /* max-width: 943px; */ /* top: 0; */;
  }
  /* top bar */
  .time-offer p {
    font-size: 14px;
    line-height: 29px;
  }
  .time-offer span a {
    font-size: 12px;
    line-height: 0px;
  }
  .wrapper-lens {
    top: -73px;
    max-width: 450px /* max-width: 943px; */ /* top: 0; */;
  }
  /* features style */
  .feature span {
    font-size: 16px;
  }
  /* contact lenses */
  .eyewear-lense .eyewear-heading .shop-eyewear,
  .contact-lense .contact-heading .shop-eyewear {
    font-size: 23px;
    line-height: 43px;
    width: 227px;
    margin-top: 40px !important;
    margin: 0 auto;
  }
  /* lens replacement */
  .glasses-wrapper {
    padding: 69px 0 118px;
  }
  .glasses-wrapper-inner h1 {
    font-size: 35px;
    line-height: 9px;
  }
  .dividers {
    width: 344px;
  }
  .glasses-wrapper-inner p {
    font-size: 16px;
    padding-top: 23px;
  }
  .glasses-wrapper-inner a {
    font-size: 23px;
    line-height: 43px;
    width: 227px;
  }
  .delancy-street-eye .delancy-wrapper-inner a {
    font-size: 23px;
    width: 207px;
    line-height: 43px;
    height: 43px;
    text-align: center;
  }
  .delancy-street-eye .delancy-wrapper-inner h1 {
    font-size: 28px;
    line-height: 0px;
  }
  .delancy-wrapper-inner .divide {
    width: 376px;
  }
  .delancy-street-eye .delancy-wrapper-inner p {
    font-size: 16px;
  }
  .delancy-wrapper {
    text-align: start;
  }
  .delancy-wrapper {
    padding: 86px 0px 118px;
  }
  .glasses-wrapper-inner h3 {
    font-size: 17px;
  }
  /* autofill */
  .divid-line {
    width: 169px;
    height: 1px;
    display: inline-block;
    background-color: #373d41;
    margin-top: 15px;
  }
  /* blue */
  .blu-light-inner h1 {
    font-size: 23px;
  }
  .divider {
    width: 294px;
  }
  .blu-light-inner p {
    font-size: 15px;
  }
  .blu-light-inner span {
    font-size: 21px;
  }
  .blu-light-inner a {
    font-size: 21px;
    width: 244px;
    line-height: 48px;
    height: 48px;
    text-align: center;
  }
  .blu-light-inner img {
    padding-top: 24px;
    width: 160px;
  }
  .divider {
    width: 279px;
  }
  .committed {
    padding-top: 10px;
  }
  .committed img {
    width: 370px;
    padding-bottom: 0px;
  }
  .we-awesome h3 {
    padding: 22px 0px 0px;
  }
  .excellence {
    padding-top: 59px;
  }

  .award img {
    width: 280px;
  }
  .excellence img {
    width: 446px;
    padding-bottom: 0px;
  }
  .lunchbox {
    width: 100%;
  }
  .type-2 .social-icon,
  .type-3 .social-icon {
    bottom: 28px;
    right: 110px;
  }
}
@media (max-width: 575px) {
  /* slider */
  .about-us h1:nth-child(1) {
    display: none;
  }
  .about-us h1:nth-child(2) {
    display: block;
  }
  .navbar-text-icons ul li:nth-child(2),
  .navbar-text-icons ul li:nth-child(3) {
    display: none;
  }
  .price span {
    display: none;
  }
  .navbar-text-icons {
    min-width: 67px;
  }
  .brand-logo {
    padding-left: 32px;
    margin-right: 0;
  }
  #top-bar {
    display: none;
  }
  .mob-top-bar {
    display: block;
    /* height: 52px; */
    background: #2b5284;
  }
  .mob-top-bar .time-offer p {
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    /* padding: 13px 0; */
    /* line-height: 49px; */
    padding: 10px 0;
  }
  .mob-top-bar .time-offer span a {
    color: #fac34d;
    font-size: 18px;
    border-bottom: 1px solid #fac34d;
    /* text-decoration: underline; */
    margin-left: 13px;
    letter-spacing: 1px;
    line-height: 47px;
  }
  /* hero-section */
  .hero-everything-need img {
    width: 100%;
  }
  .hero-everything-need .wrapper {
    display: flex;
    justify-content: center;
  }
  .neverything-need-button {
    display: inline-block;
    justify-content: center;
    text-align: center;
  }
  .everything-need {
    background: url(../images/hero-sec.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-size: 100% 100%;
    width: 100%;
    height: 535px;
  }
  .wrapper-lens {
    /* top: -91px; */
    max-width: 246px /* max-width: 943px; */ /* top: 0; */;
  }
  .ordering-warpper-img-mob {
    display: block;
  }
  .ordering-warpper-img-mob img {
    width: 222px;
  }
  .wrapper-lens h1 {
    font-size: 26px;
    line-height: 34px;
    text-align: center;
  }
  .wrapper-lens p {
    display: none;
  }
  .ordering-warpper-img {
    display: none;
  }
  .all-brands {
    display: none;
  }
  /* lenses-online */
  .lenses-online {
    display: none;
  }
  /* get started */
  .get {
    padding: 42px 0;
    display: block;
  }
  .started {
    text-align: center;
  }
  .started h1 {
    font-family: Rockness;
    font-size: 50px;
    color: #6f6f6f;
    padding-bottom: 16px;
  }
  .started .shop-contact li {
    width: 325px;
    background: #069cef;
    height: 66px;
    text-align: center;
    line-height: 61px;
    margin: 0 auto 16px;
    font-size: 22px;
    color: #fff;
    font-family: Poppins-SemiBold;
    transition: 0.5s;
  }
  .started .shop-contact li:hover {
    background: #cccccc;
  }
  .started .shop-contact li a {
    color: #fff;
  }
  .started .icons {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  .started .icons li {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #6f6f6f;
    margin: 9px;
    color: #6f6f6f;
    font-size: 29px;
    line-height: 48px;
    transition: 0.5s;
  }
  .started .icons li a {
    color: #6f6f6f;
    transition: 0.5s;
  }
  .started .icons li a:hover {
    color: #fff;
  }
  .started .icons li:hover {
    background: #cccccc;
    border: 1px solid #cccccc;
  }
  footer .footer-start .learning ul {
    border-bottom: 2px solid #fff;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 33px;
  }
  footer .footer-start .learning ul li {
    font-size: 14px;
    line-height: 33px;
    width: 50%;
  }
  .material {
    display: none;
  }
  .learning:nth-child(4) {
    display: none;
  }
  .learning:nth-child(3) ul {
    display: block !important;
    border: none !important;
  }

  /* sign-up-mob  */
  .sign-up-mob {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 48px 25px;
    border-bottom: 2px solid #fff;
    margin: 0 auto;
    display: block;
  }
  .sign-up-mob p {
    font-size: 22px;
    color: #fff;
    font-family: Poppins-Regular;
    text-align: center;
    padding-bottom: 28px;
  }
  form input {
    padding: 17px 10px 17px 17px;
    width: 80%;
  }
  form button {
    padding: 17px 10px 15px 10px;
    width: 20%;
    text-align: center;
  }
  footer .footer-start {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .learning {
    padding-top: 26px;
  }
  /* .icons-social{
  margin: 0 auto;
} */
  /* navbar mob */
  .dropdown-toggle,
  .nav-link {
    transition: 0.5s;
  }
  .dropdown-toggle:hover,
  .nav-link:hover {
    color: #fac34d !important;
  }

  .faq-icons .img-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #5f6467;
    border: 1px solid;
    padding: 0px;
    text-align: center;
    padding-top: 7px;
    margin: 0 auto 7px;
    transition: 0.5s;
  }
  .faq-icons .img-icon:hover {
    background: #cccccc;
  }
  .footer-start .learning ul li a {
    font-size: 13px;
    line-height: 33px;
  }
  .faq-icons {
    text-align: center;
  }
  .faq-icons:nth-child(3) .img-icon {
    padding-top: 10px !important;
  }
  .faq-icons small {
    font-size: 16px;
    font-family: Poppins-Regular;
    text-transform: uppercase;
    color: #fff;
  }
  /* about-us slider */
  /* .about-us{
  display: none;
} */
  /* search-form */
  .search-form {
    display: none;
  }
  /* .contact-lense  */
  .contact-lense {
    height: auto;
    padding: 0px 0px 0px;
    height: 350px;
  }
  .contact-heading h1,
  .eyewear-lense .eyewear-heading h1 {
    font-size: 24px;
    line-height: 9px;
  }
  .contact-lense .contact-heading .line-contact {
    width: 198px;
  }

  .contact-heading {
    width: 37%;
    position: absolute;
    right: 20px;
    text-align: end;
    /* height: 480px; */
    top: 37px;
  }
  .contact-heading p,
  .eyewear-lense .eyewear-heading p {
    font-size: 20px;
    padding-top: 17px;
  }
  .eyewear-lense {
    height: auto;
    padding: 55px 0 64px;
    height: 364px;
    align-items: flex-start;
  }
  .eyewear-heading {
    text-align: center;
    width: 40%;
  }
  .eyewear-lense .eyewear-heading .line-contact {
    width: 111px;
  }
  .eyewear-heading {
    text-align: center;
    width: 40%;
    /* margin: 0 auto; */
    text-align: start;
    margin: 0 41px;
  }
  .acuvue {
    width: 100%;
  }
  .acuvue img {
    width: 100%;
    /* height: 125px; */
  }
  .more-brands {
    text-align: center;
    padding-top: 5px;
    width: 50%;
    margin: 0 auto;
  }
  .more-brands a {
    border-bottom: 1px solid #004292;
    color: #004292;
    font-size: 18px;
    font-family: Poppins-Regular;
  }

  .more-brands::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    position: absolute;
    left: 0;
    padding-top: 0px;
    left: 67%;
    /* padding-left: 356px; */
    color: #004292;
    font-size: 20px;
  }
  .all-brands-company {
    padding: 32px 0 20px;
  }
  .all-brands {
    display: none;
  }
  .all-brands-company {
    display: block;
  }
  .icons-social {
    display: block;
  }
  .contact-eyewear {
    padding-bottom: 25px;
  }
  .eyewear-lense .eyewear-heading h3 {
    font-size: 22px;
  }
  .shop-eyewear a:nth-child(1) {
    display: none;
  }
  .shop-eyewear a:nth-child(2) {
    display: block;
  }
  .eyewear-lense .eyewear-heading .shop-eyewear {
    font-size: 22px;
    line-height: 43px;
    width: 140px;
    margin-top: 40px !important;
    margin: 0;
    display: flex;
    position: absolute;
    left: 45px;
    -webkit-border-vertical-spacing: flex;
    /* bottom: 0; */
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .contact-lense .contact-heading .shop-eyewear {
    font-size: 22px;
    line-height: 43px;
    width: 140px;
    margin-top: 40px !important;
    margin: 0;
    display: flex;
    position: absolute;
    right: 0;
    -webkit-border-vertical-spacing: flex;
    /* bottom: 0; */
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .glasses-img {
    background: url(../images/here-lookin.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-size: 100% 100%;
    height: 453px;
    position: relative;
    display: block;
    margin-bottom: 25px;
  }
  .glasses-heading {
    text-align: center;
    padding-top: 33px;
  }
  .glasses-heading h1 {
    font-size: 28px;
    font-family: Poppins-Medium;
    line-height: 1px;
  }
  .glasses-heading .dividers {
    width: 255px;
  }
  .glasses-wrapper-inner p,
  .delancy-wrapper-inner p {
    font-size: 20px;
    padding-top: 0px;
    font-family: Poppins-Regular;
  }
  .glasses-wrapper-inner h3 {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 7px;
  }
  .glasses-wrapper-inner {
    width: 50%;
    margin: 0 auto;
    position: absolute;
    bottom: 23px;
    left: 25%;
  }
  .glasses-wrapper-inner a {
    font-size: 22px;
    line-height: 46px;
    width: 173;
    width: 173px;
  }
  .glasses-inner {
    display: none;
  }
  .street-eye-mob {
    background: url(../images/delancy-classic.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-size: 100% 100%;
    height: 446px;
    position: relative;
    display: block;
    margin-bottom: 25px;
  }
  .delancy-wrapper-mob {
    width: 40%;
    margin: 30px;
    padding-top: 50px;
  }
  .delancy-wrapper-inner {
    padding-top: 10px;
    width: 71%;
  }
  .delancy-wrapper-mob h1 {
    font-size: 28px;
    font-family: Poppins-Medium;
    line-height: 38px;
  }
  .delancy-btn a {
    color: #202020;
    font-size: 22px;
    line-height: 48px;
    border: 1px solid #202020;
    width: 170px;
    height: 48px;
    font-family: Poppins-SemiBold;
    transition: 0.5s;
    text-align: center;
  }
  .swiper-button-next {
    right: 25px;
  }
  .swiper-button-prev {
    left: 25px;
  }
  .delancy-btn a:hover,
  .autoRefill-wrapper-inner a:hover {
    background: #cccccc;
    border-color: #cccccc;
    color: #fff;
  }
  .delancy-wrapper-mob .divide {
    width: 117px;
    height: 1px;
    display: inline-block;
    border-color: #3d3d3d;
  }
  .delancy-street-eye {
    display: none;
  }
  .delancy-btn {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    /* position: absolute; */
    align-items: flex-end;
  }
  /* autoRefill */
  .autoRefill {
    display: none;
  }
  .autoRefill-mob {
    background: url(../images/dailies.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-size: 100% 100%;
    height: 418px;
    position: relative;
    display: block;
    margin-bottom: 25px;
  }
  .autoRefill-wrapper {
    width: 28%;
    position: absolute;
    right: 22px;
    text-align: end;
  }
  .autoRefill-wrapper-inner h1 {
    font-size: 28px;
    font-family: Poppins-Medium;
    line-height: 1px;
  }
  .autoRefill-wrapper-inner .divid-line {
    width: 132px;
    height: 1px;
    display: inline-block;
    background-color: #373d41;
  }
  .autoRefill-wrapper-inner p {
    font-size: 20px;
    padding-top: 20px;
    font-family: Poppins-Regular;
    padding-bottom: 13px;
  }
  .autoRefill-wrapper-inner h3 {
    font-size: 28px;
    line-height: 30px;
    padding-bottom: 7px;
    font-family: Poppins-Medium;
  }

  .autoRefill-wrapper-inner a {
    font-size: 22px;
    line-height: 47px;
    width: 180px;
    color: #202020;
    border: 2px solid #202020;
    text-align: center;
    font-family: Poppins-SemiBold;
    transition: 0.5s;
  }
  .autoRefill-wrapper-inner {
    padding-top: 33px;
  }
  .blu-light-mobile {
    background: url(../images/bluelenses.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-size: 100% 100%;
    height: 482px;
    position: relative;
    display: block;
    margin-bottom: 25px;
  }
  .blu-light-wrapper-mob {
    width: 48%;
    position: absolute;
    right: 20px;
    text-align: end;
    padding-top: 30px;
  }

  .blu-light-mobile .divider {
    width: 147px;
  }
  .blu-light-mobile h1 {
    font-size: 28px;
    font-family: Poppins-Medium;
    color: #fff;
  }
  .blu-light {
    display: none;
  }
  .blu-light-inner-mob p {
    font-size: 19px;
    color: #fff;
    font-family: Poppins-Regular;
  }
  .blu-light-inner-mob h5 {
    font-family: Poppins-Medium;
    font-size: 19px;
    color: #fff;
    padding-top: 7px;
  }
  .blu-light-mobile img {
    width: 140px;
  }
  .blu-light-mobile a {
    width: 180px;
    height: 47px;
    line-height: 47px;
    font-size: 22px;
    font-family: Poppins-Medium;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    margin: 47px 0;
    transition: 0.5s;
  }
  .blu-light-mobile a:hover {
    background: #cccccc;
  }
  .blu-light-inner-mob sup {
    font-size: 10px;
    top: -8px;
  }
  .why-awesome h1 {
    font-size: 28px;
    line-height: 0px;
  }
  .divider-lines {
    width: 288px;
  }
  .awesome {
    margin-bottom: 25px;
  }
  .wrapper-lens {
    top: -39px;
  }
  .logo-footer {
    position: absolute;
    top: -92px;
    right: 0;
    display: block;
  }
  .about-us {
    padding: 27px 0px 9px;
  }
  .type-2 .social-icon,
  .type-3 .social-icon {
    bottom: 28px;
    right: 90px;
  }
}
@media (max-width: 495px) {
  .swiper-button-next {
    right: 15px;
  }
  .swiper-button-prev {
    left: 15px;
  }
  .type-2 .circle-img .Thomas-img img,
  .type-3 .circle-img .sonia-img img {
    left: -7px;
    /* float: left; */
    width: 97px;
    height: 94px;
  }
  .Thomas-img h3,
  .type-3 .circle-img .sonia-img h3 {
    font-size: 14px;
  }
  .Thomas-img h3,
  .Thomas-img a,
  .type-3 .circle-img .sonia-img h3,
  .type-3 .circle-img .sonia-img a {
    padding-left: 91px;
    margin: 0;
  }
  .type-1 .rating img {
    width: 94px;
    height: 94px;
  }
  .type-1 .rating img {
    width: 70px;
    height: 70px;
  }
  .contact-heading {
    width: 55%;
  }
  .contact-heading h1,
  .eyewear-lense .eyewear-heading h1 {
    font-size: 24px;
    line-height: 9px;
  }
  .autoRefill-wrapper {
    width: 33%;
  }
  .blu-light-wrapper-mob {
    width: 57%;
  }
  .blu-light-mobile h1 {
    font-size: 26px;
  }
  .more-brands::before {
    left: 70%;
  }
}
@media (max-width: 410px) {
  .type-2 .social-icon,
  .type-3 .social-icon {
    bottom: 28px;
    right: 36px;
  }

  .swiper-button-next {
    right: -7px;
  }
  .swiper-button-prev {
    left: -7px;
  }

  .more-brands::before {
    left: 72%;
  }
  .blu-light-mobile a {
    margin: 35px 0;
  }
  .blu-light-wrapper-mob {
    width: 65%;
  }
  .autoRefill-wrapper {
    width: 42%;
  }
  .contact-heading h1,
  .eyewear-lense .eyewear-heading h1 {
    font-size: 22px;
    line-height: 9px;
  }
  .mob-top-bar .time-offer span a {
    font-size: 12px;
    line-height: 36px;
  }
  .mob-top-bar .time-offer p {
    font-size: 14px;
    padding: 4px 0;
  }
  .started .shop-contact li {
    width: 317px;
    height: 60px;
  }
  .more-brands a {
    font-size: 16px;
  }
  .eyewear-lense .eyewear-heading .shop-eyewear {
    margin-top: 20px !important;
  }
  .delancy-wrapper-inner {
    width: 100%;
  }
  .delancy-wrapper-mob {
    width: 50%;
  }
  .delancy-btn {
    padding-top: 78px;
  }
  .delancy-btn a {
    font-size: 20px;
    line-height: 41px;
    width: 155px;
    height: 43px;
  }
  .delancy-wrapper-inner p {
    font-size: 19px;
  }
  .type-1,
  .type-2,
  .type-3,
  .type-4 {
    width: 84%;
    margin: 0 auto;
  }
}
